body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f7f9f9, #b1deed);  
}

.header {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background: white;
box-shadow:  16px 16px 32px #cfd5d5,
             -16px -16px 32px #ffffff;
    border-radius: 50px;

}

a{
  text-decoration: none;
  list-style: none;
}
h1 {
    text-align: center;
    color: #0056b3;
}


#search-container {
    text-align: center;
    margin: 20px 0;
}

#search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}



.container {
  width: 90%;
    /* max-width: 1200px; */
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.movie-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    text-align: center;
    background: linear-gradient(to right, #490def, rgb(40, 73, 239) , #16b8ed);  
}

.movie-front img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.movie-front h4 {
    margin: 10px 0;
    font-size: 18px;
    color: #fff;
    display: inline;
}

.movie-front p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    /* display: inline; */
}

.movie-card {
  perspective: 1000px;
  cursor: pointer;
  box-shadow: 4px 4px 18px 0px #f5dae7;
}

.movie-inner {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 520px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.movie-card.flipped .movie-inner {
  transform: rotateY(180deg);
}
.movie-front,
.movie-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  box-sizing: border-box;
}

.movie-front {
  padding: 10px;
  background: linear-gradient(to right, #c2b2ee, rgb(161, 177, 255), #9acdf5);
  text-align: center;
  overflow: hidden;
}

.movie-back {
  padding: 40px 10px 40px 10px;
  background: linear-gradient(to bottom, #1a1a2e, #16213e);
  color: #fff;
  transform: rotateY(180deg);
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.movie-back h4 {
  margin-top: 10px;
}

hr{
      margin: 0;
    width: 60%;
}


@media (max-width:600px) {
  .header{
    flex-direction: column;
  }

  #search-input{
    width: 50%;
  }
  .movie-back{
    padding: 40px 25px 40px 25px;
  }
}