.perspective-250 {
  perspective: 250px;
}

.perspective-350 {
  perspective: 350px;
}

.perspective-left{
    perspective-origin: left;
}
.perspective-origin{
    perspective-origin: 50% 50%;
}
.perspective-right{
    perspective-origin: right;
}


.container1 {
  width: 200px;
  height: 200px;
  margin: 60px;
  border: 1px black solid;
}

.container2 {
  width: 100px;
  height: 100px;
  margin: 30px;
}

.cube1 {
  width: 100%;
  height: 100%;
  perspective-origin: 150% 150%;
  transform-style: preserve-3d;
}

.cube2 {
  width: 100%;
  height: 100%;
  perspective: 300px;
  transform-style: preserve-3d;
}

.face {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border: none ;
  line-height: 100px;
  font-family: sans-serif;
  font-size: 60px;
  color: white;
  text-align: center;
  backface-visibility: visible;
}



.cube1 .front {
  background: rgb(0 0 0 / 30%);
  transform: translateZ(50px);
}

.cube1 .back {
  background: lime;
  color: black;
  transform: rotateY(180deg) translateZ(50px);
}

.cube1 .right {
  background: rgb(196 0 0 / 70%);
  transform: rotateY(90deg) translateZ(50px);
}

.cube1 .left {
  background: rgb(0 0 196 / 70%);
  transform: rotateY(-90deg) translateZ(50px);
}

.cube1 .top {
  background: rgb(196 196 0 / 70%);
  transform: rotateX(90deg) translateZ(50px);
}

.cube1 .bottom {
  background: rgb(196 0 196 / 70%);
  transform: rotateX(-90deg) translateZ(50px);
}

.cube2 .front {
  background: rgb(0 0 0 / 30%);
  transform: translateZ(50px);
}
.cube2 .back {
  background: lime;
  color: black;
  transform: rotateY(180deg) translateZ(50px);
}
.cube2 .right {
  background: rgb(196 0 0 / 70%);
  transform: rotateY(90deg) translateZ(50px);
}
.cube2 .left {
  background: rgb(0 0 196 / 70%);
  transform: rotateY(-90deg) translateZ(50px);
}
.cube2 .top {
  background: rgb(196 196 0 / 70%);
  transform: rotateX(90deg) translateZ(50px);
}
.cube2 .bottom {
  background: rgb(196 0 196 / 70%);
  transform: rotateX(-90deg) translateZ(50px);
}

th,
p,
td {
  background-color: #eeeeee;
  padding: 10px;
  font-family: sans-serif;
}